header {
    grid-area: header;
    background-color: rgb(207, 183, 143);
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
 
    img {
        margin: 10px;
      }

}


  
